In [100]:
import pandas as pd 
import numpy as np

In [101]:
import random

In [102]:
df = pd.read_csv('акциии.csv') 
df.head()

         Дата    Цена   Откр.   Макс.    Мин.    Объём  Изм. %
0  26.12.2021  416,95  422,00  423,85  416,65  878,25K  -1,28%
1  19.12.2021  422,35  404,25  424,25  400,00    1,09M   2,25%
2  12.12.2021  413,05  422,05  424,85  409,40    1,88M  -1,90%
3  05.12.2021  421,05  402,95  433,65  402,20    1,94M   5,03%
4  28.11.2021  400,90  405,90  408,85  392,75    2,78M  -0,35%

In [103]:
df = df.drop(columns=['Дата'])

In [104]:
df = df.drop(columns=['Откр.'])

In [105]:
df = df.drop(columns=['Макс.'])

In [106]:
df = df.drop(columns=['Мин.'])

In [107]:
df = df.drop(columns=['Объём'])

In [108]:
df = df.drop(columns=['Изм. %'])

In [109]:
df

       Цена
0    416,95
1    422,35
2    413,05
3    421,05
4    400,90
..      ...
464  108,60
465  111,90
466  111,10
467  108,30
468  103,75

[469 rows x 1 columns]

In [110]:
df1 = pd.date_range(start='31/12/2012', end = '31/12/2021', freq='W')
df1 = pd.DataFrame(df1)
df1

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3553: UserWarning: Parsing '31/12/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3553: UserWarning: Parsing '31/12/2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)

             0
0   2013-01-06
1   2013-01-13
2   2013-01-20
3   2013-01-27
4   2013-02-03
..         ...
464 2021-11-28
465 2021-12-05
466 2021-12-12
467 2021-12-19
468 2021-12-26

[469 rows x 1 columns]

In [111]:
df1.columns = ['weaks'] 
df1

         weaks
0   2013-01-06
1   2013-01-13
2   2013-01-20
3   2013-01-27
4   2013-02-03
..         ...
464 2021-11-28
465 2021-12-05
466 2021-12-12
467 2021-12-19
468 2021-12-26

[469 rows x 1 columns]

In [112]:
df1.join(df)

         weaks    Цена
0   2013-01-06  416,95
1   2013-01-13  422,35
2   2013-01-20  413,05
3   2013-01-27  421,05
4   2013-02-03  400,90
..         ...     ...
464 2021-11-28  108,60
465 2021-12-05  111,90
466 2021-12-12  111,10
467 2021-12-19  108,30
468 2021-12-26  103,75

[469 rows x 2 columns]