In [43]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [44]:
import random

In [45]:
url1 = 'https://excheck.pro/company/5001026970/finances?type=results&year=2013'
response = requests.get(url1)
bs = BeautifulSoup(response.text,"lxml")
temp1 = bs.find_all('span', 'accounting-value')
print(temp1[3])

<span class="accounting-value">2,8 млрд ₽</span>

In [46]:
url2 = 'https://excheck.pro/company/5001026970/finances?type=results&year=2014'
response = requests.get(url2)
bs = BeautifulSoup(response.text,"lxml")
temp2 = bs.find_all('span', 'accounting-value')
print(temp2[3])

<span class="accounting-value">3,2 млрд ₽</span>

In [47]:
url3 = 'https://excheck.pro/company/5001026970/finances?type=results&year=2015'
response = requests.get(url3)
bs = BeautifulSoup(response.text,"lxml")
temp3 = bs.find_all('span', 'accounting-value')
print(temp3[3])

<span class="accounting-value">4 млрд ₽</span>

In [48]:
url4 = 'https://excheck.pro/company/5001026970/finances?type=results&year=2016'
response = requests.get(url4)
bs = BeautifulSoup(response.text,"lxml")
temp4 = bs.find_all('span', 'accounting-value')
print(temp4[3])

<span class="accounting-value">7,3 млрд ₽</span>

In [49]:
url5 = 'https://excheck.pro/company/5001026970/finances?type=results&year=2017'
response = requests.get(url5)
bs = BeautifulSoup(response.text,"lxml")
temp5 = bs.find_all('span', 'accounting-value')
print(temp5[3])

<span class="accounting-value">10,2 млрд ₽</span>

In [50]:
url6 = 'https://excheck.pro/company/5001026970/finances?type=results&year=2018'
response = requests.get(url6)
bs = BeautifulSoup(response.text,"lxml")
temp6 = bs.find_all('span', 'accounting-value')
print(temp6[3])

<span class="accounting-value">7,5 млрд ₽</span>

In [51]:
url7 = 'https://excheck.pro/company/5001026970/finances?type=results&year=2019'
response = requests.get(url7)
bs = BeautifulSoup(response.text,"lxml")
temp7 = bs.find_all('span', 'accounting-value')
print(temp7[3])

<span class="accounting-value">7,1 млрд ₽</span>

In [52]:
url8 = 'https://excheck.pro/company/5001026970/finances?type=results&year=2020'
response = requests.get(url8)
bs = BeautifulSoup(response.text,"lxml")
temp8 = bs.find_all('span', 'accounting-value')
print(temp8[3])

<span class="accounting-value">7 млрд ₽</span>

In [53]:
url9 = 'https://excheck.pro/company/5001026970/finances?type=results&year=2021'
response = requests.get(url9)
bs = BeautifulSoup(response.text,"lxml")
temp9 = bs.find_all('span', 'accounting-value')
print(temp9[3])

<span class="accounting-value">8,1 млрд ₽</span>

In [54]:
from IPython.display import display
import pandas as pd
  
dict = {'Год': ['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
        'Расходы': [temp1[3], temp2[3], temp3[3], temp4[3], temp5[3], temp6[3], temp7[3], temp8[3], temp9[3]]}
df = pd.DataFrame(dict)
  
display(df)

    Год        Расходы
0  2013   [2,8 млрд ₽]
1  2014   [3,2 млрд ₽]
2  2015     [4 млрд ₽]
3  2016   [7,3 млрд ₽]
4  2017  [10,2 млрд ₽]
5  2018   [7,5 млрд ₽]
6  2019   [7,1 млрд ₽]
7  2020     [7 млрд ₽]
8  2021   [8,1 млрд ₽]

In [55]:
df = pd.read_csv('ggg.csv') 
df.head()

    Год    Расходы
0  2013   2.8 млрд
1  2014   3.2 млрд
2  2015     4 млрд
3  2016   7.3 млрд
4  2017  10.2 млрд

In [56]:
df['Расходы'] = pd.to_numeric(df['Расходы'].str.replace('\D', ''), errors='coerce')
df

<ipython-input-56-02f768d26e2a>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Расходы'] = pd.to_numeric(df['Расходы'].str.replace('\D', ''), errors='coerce')

    Год  Расходы
0  2013       28
1  2014       32
2  2015        4
3  2016       73
4  2017      102
5  2018       75
6  2019       71
7  2020        7
8  2021       81

In [57]:
df['Расходы'] = df['Расходы'].apply(lambda x: x * 1000000000)
df

    Год       Расходы
0  2013   28000000000
1  2014   32000000000
2  2015    4000000000
3  2016   73000000000
4  2017  102000000000
5  2018   75000000000
6  2019   71000000000
7  2020    7000000000
8  2021   81000000000

In [58]:
df1 = pd.date_range(start='31/12/2012', end = '31/12/2021', freq='W')
df1 = pd.DataFrame(df1)
df1

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3553: UserWarning: Parsing '31/12/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3553: UserWarning: Parsing '31/12/2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)

             0
0   2013-01-06
1   2013-01-13
2   2013-01-20
3   2013-01-27
4   2013-02-03
..         ...
464 2021-11-28
465 2021-12-05
466 2021-12-12
467 2021-12-19
468 2021-12-26

[469 rows x 1 columns]

In [59]:
df1.columns = ['weaks'] 
df1

         weaks
0   2013-01-06
1   2013-01-13
2   2013-01-20
3   2013-01-27
4   2013-02-03
..         ...
464 2021-11-28
465 2021-12-05
466 2021-12-12
467 2021-12-19
468 2021-12-26

[469 rows x 1 columns]

In [60]:
r = []
for i in df['Расходы']:
  r.append(round(i / 52))
r

[538461538,
 615384615,
 76923077,
 1403846154,
 1961538462,
 1442307692,
 1365384615,
 134615385,
 1557692308]

In [61]:
df1['Расходы'] = ''
df1

         weaks Расходы
0   2013-01-06
1   2013-01-13
2   2013-01-20
3   2013-01-27
4   2013-02-03
..         ...     ...
464 2021-11-28
465 2021-12-05
466 2021-12-12
467 2021-12-19
468 2021-12-26

[469 rows x 2 columns]

In [62]:
df1['Расходы'].iloc[:52] = r[0]
df1['Расходы'].iloc[52:104] = r[1]
df1['Расходы'].iloc[104:156] = r[2]
df1['Расходы'].iloc[156:208] = r[3]
df1['Расходы'].iloc[208:260] = r[4]
df1['Расходы'].iloc[260:312] = r[5]
df1['Расходы'].iloc[312:364] = r[6]
df1['Расходы'].iloc[364:416] = r[7]
df1['Расходы'].iloc[416:] = r[8]
print(df1)

         weaks     Расходы
0   2013-01-06   538461538
1   2013-01-13   538461538
2   2013-01-20   538461538
3   2013-01-27   538461538
4   2013-02-03   538461538
..         ...         ...
464 2021-11-28  1557692308
465 2021-12-05  1557692308
466 2021-12-12  1557692308
467 2021-12-19  1557692308
468 2021-12-26  1557692308

[469 rows x 2 columns]

<ipython-input-62-59b9cd7140e0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Расходы'].iloc[:52] = r[0]
<ipython-input-62-59b9cd7140e0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Расходы'].iloc[52:104] = r[1]
<ipython-input-62-59b9cd7140e0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Расходы'].iloc[104:156] = r[2]
<ipython-input-62-59b9cd7140e0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Расходы'].iloc[156:208] = r[3]
<ipython-input-62-59b9cd7140e0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Расходы'].iloc[208:260] = r[4]
<ipython-input-62-59b9cd7140e0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Расходы'].iloc[260:312] = r[5]
<ipython-input-62-59b9cd7140e0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Расходы'].iloc[312:364] = r[6]
<ipython-input-62-59b9cd7140e0>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Расходы'].iloc[364:416] = r[7]
<ipython-input-62-59b9cd7140e0>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Расходы'].iloc[416:] = r[8]

In [63]:
df1

         weaks     Расходы
0   2013-01-06   538461538
1   2013-01-13   538461538
2   2013-01-20   538461538
3   2013-01-27   538461538
4   2013-02-03   538461538
..         ...         ...
464 2021-11-28  1557692308
465 2021-12-05  1557692308
466 2021-12-12  1557692308
467 2021-12-19  1557692308
468 2021-12-26  1557692308

[469 rows x 2 columns]

In [64]:
for i in df1['Расходы'].iloc[:8]:
    pr = i * random.randint(8, 13) / 100
    a = i - pr
print(a)

484615384.2